* {
    font-family: "Lora";
}

/* header styles */
h1 {
    color: rgb(41, 64, 63);
    font-size: 5vh;
    margin-left: 5vw;
    text-align: center;
}

h2 {
    color: #588180;
    font-size: 4vh;
    margin-left: 4vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

h3 { /* shorthand for margin and padding */
    color: hsl(178, 35%, 55%);
    font-size: 3vh;
    margin: 0pc 0pc 0pc 2pc;
    padding: 3mm 3mm 3mm 3mm;
}

h1, h2, h3 {
    text-decoration: underline;
}

header { /* box! */
    background-color: #AAB5BD;
    padding: 2em;
    margin: auto;
    width: 94vw;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    header {
        background-color: #748f9b;
    }
  }

/* nav */
.nav_header {
    margin-top: 4em;
}

.flex_link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    background:
    linear-gradient(
      to bottom, #748f9b 0%,
      #748f9b 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  text-decoration: none;
  color: #2e333d;
  transition: background-size 0.5s;
  padding: 3px;
}

a:hover {
    background-size: 4px 50px;
    color: white;
}

a:active {
    background: #E0E0E0;
}

.nav_link {
    margin-left: 1em;
    display: inline-block;
    flex-grow: 1;
    text-transform: uppercase;
}

/* testing something */
.testing {
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 2;
}

/* to-do lists */
li[target=_important] {
    color: #689C88;
}

/* combinators */ 
section p {
    padding: 3em;
} 

section > div {
    padding: 1em;
}

h2 + h3 {
    margin-bottom: -2em;
}

h2 ~ h3 {
    color: #63736D;
}

p.combined {
    color: #77b6bf;
}

/* highlight grid */
.highlight_grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
}

/* media styles */
.highlight-pic {
    height: 50vh;
    min-width: 20vw;
    border-style: dotted;
    border-color: rgb(91, 67, 92);
    border-width: 1px;
    border-radius: 1em;
}

.highlight-video {
    width: 25vw;
    max-height: 100vh;
    border-style: dotted;
    border-color: rgb(91, 67, 92);
    border-width: 1px;
    border-radius: 1em;
}

.audio-highlight {
    z-index: 0;
}

/* form */
#journal {
    margin-left: 10vh;
    margin-right: 10vh;
}

.footer {
    margin-bottom: 10vh;
    margin-left: 10vh;
}